body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  color: #fff;
}
.container {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #5a0356;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.input-group {
  margin-bottom: 10px;
}
.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#result {
  margin-top: 20px;
  background-color: #5a0356;
  height: 200px;
  overflow: auto;
  padding: 10px;
}
#error {
  margin-top: 20px;
  background-color: #5a0356;
  height: 50px;
  overflow: auto;
  padding: 10px;
  text-align: center;
}
#error p {
  font-weight: bold;
}
#findButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#findButton:hover {
    background-color: #0056b3;
}